<RuleSet Name="Rules for ZTM project" ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None"/>
    <Rule Id="SA1101" Action="None"/>
    <Rule Id="SA1108" Action="None"/>
    <Rule Id="SA1132" Action="None"/>
    <Rule Id="SA1200" Action="None"/>
    <Rule Id="SA1202" Action="None"/>
    <Rule Id="SA1400" Action="None"/>
    <Rule Id="SA1402" Action="None"/>
    <Rule Id="SA1405" Action="None"/>
    <Rule Id="SA1513" Action="None"/>
    <Rule Id="SA1633" Action="None"/>
  </Rules>
</RuleSet>
